image:
  # Name of the image. If a remote repository this will be an URL.
  name: registry.digitalocean.com/peek-repository/maiabackend
  # Tag of image to use.
  tag: 

container:
  port: 4000 # Default port for the SSR Angular build container
  replicas: 1

host:
protocol: https

# Values used to generate a tls certificate
tls:
  acme_server: "https://acme-v02.api.letsencrypt.org/directory"
  email:
  privateKeySecretRefName: "letsencrypt"